<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("Abaca_fiber-min.jpg"),:size => "100x100" %>
         
           <h4>Abaca Fibre</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $330 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 176,370 pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The Abaca fiber market faces several risks, including climate change, disease outbreaks, and competition from alternative fibers. Abaca fiber production is heavily dependent on weather conditions, and climate change can impact Abaca yields. Disease outbreaks such as Fusarium wilt can cause significant losses for Abaca fiber producers. Additionally, competition from alternative natural fibers such as jute, sisal, and hemp can impact the demand for Abaca fiber.

Despite these risks, the potential for Abaca fiber exports offers strategic value for producers. Abaca fiber is a high-quality, natural, and sustainable fiber that is highly valued in industries such as textile, paper, and handicrafts. The potential for export opportunities can help producers diversify their customer base and increase their revenue streams. However, access to international markets can be challenging, and exporters may face barriers such as tariffs, regulations, and competition from established suppliers. </p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Abaca Fibre Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 31.1%</td></tr>
<tr><td>USA </td><td> 18.3%</td></tr>
<tr><td>Germany </td><td> 10.6%</td></tr>
<tr><td>China </td><td> 9.7%</td></tr>
<tr><td>South Korea </td><td> 8.0%</td></tr>
<tr><td>France </td><td> 5.6%</td></tr>
<tr><td>UK </td><td> 4.0%</td></tr>
<tr><td>Canada </td><td> 2.6%</td></tr>
<tr><td>Netherlands </td><td> 2.0%</td></tr>
<tr><td>Italy </td><td> 1.8%</td></tr>
<tr><td>Australia </td><td> 1.7%</td></tr>
<tr><td>Belgium </td><td> 1.6%</td></tr>
<tr><td>Spain </td><td> 1.3%</td></tr>
<tr><td>Taiwan </td><td> 1.2%</td></tr>
<tr><td>Singapore </td><td> 0.9%</td></tr>
<tr><td>Austria </td><td> 0.6%</td></tr>
<tr><td>Thailand </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Hong Kong </td><td> 0.4%</td></tr>
<tr><td>Malaysia </td><td> 0.4%</td></tr>



</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Abaca Fibre Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 45.3%</td></tr>
<tr><td>USA </td><td> 13.3%</td></tr>
<tr><td>Netherlands </td><td> 11.2%</td></tr>
<tr><td>Germany </td><td> 6.1%</td></tr>
<tr><td>China </td><td> 5.5%</td></tr>
<tr><td>South Korea </td><td> 4.5%</td></tr>
<tr><td>France </td><td> 4.4%</td></tr>
<tr><td>Belgium </td><td> 1.6%</td></tr>
<tr><td>Italy </td><td> 1.5%</td></tr>
<tr><td>UK </td><td> 1.2%</td></tr>
<tr><td>Canada </td><td> 0.9%</td></tr>
<tr><td>Spain </td><td> 0.9%</td></tr>
<tr><td>Australia </td><td> 0.8%</td></tr>
<tr><td>Taiwan </td><td> 0.7%</td></tr>
<tr><td>Singapore </td><td> 0.6%</td></tr>
<tr><td>Thailand </td><td> 0.5%</td></tr>
<tr><td>Austria </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.4%</td></tr>
<tr><td>Hong Kong </td><td> 0.4%</td></tr>
<tr><td>Malaysia </td><td> 0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Abaca Fibre growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Philippines </td><td> 87.0%</td></tr>
<tr><td>Ecuador </td><td> 3.6%</td></tr>
<tr><td>Costa Rica </td><td> 2.4%</td></tr>
<tr><td>Papua New Guinea </td><td> 1.4%</td></tr>
<tr><td>Indonesia </td><td> 0.7%</td></tr>
<tr><td>Honduras </td><td> 0.4%</td></tr>
<tr><td>Brazil </td><td> 0.3%</td></tr>
<tr><td>Guatemala </td><td> 0.3%</td></tr>
<tr><td>Mexico </td><td> 0.3%</td></tr>
<tr><td>Nicaragua </td><td> 0.3%</td></tr>
<tr><td>Thailand </td><td> 0.2%</td></tr>
<tr><td>Panama </td><td> 0.1%</td></tr>
<tr><td>Venezuela </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>India </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
<tr><td>Solomon Islands </td><td> 0.1%</td></tr>
<tr><td>Madagascar </td><td> 0.1%</td></tr>
<tr><td>Fiji </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Abaca Fibre Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 55.54%</td></tr>
<tr><td>USA </td><td> 23.60%</td></tr>
<tr><td>UK </td><td> 6.11%</td></tr>
<tr><td>Germany </td><td> 3.29%</td></tr>
<tr><td>South Korea </td><td> 1.89%</td></tr>
<tr><td>France </td><td> 1.37%</td></tr>
<tr><td>Italy </td><td> 1.26%</td></tr>
<tr><td>Belgium </td><td> 0.88%</td></tr>
<tr><td>Canada </td><td> 0.68%</td></tr>
<tr><td>China </td><td> 0.52%</td></tr>
<tr><td>Netherlands </td><td> 0.50%</td></tr>
<tr><td>Switzerland </td><td> 0.43%</td></tr>
<tr><td>Taiwan </td><td> 0.39%</td></tr>
<tr><td>Spain </td><td> 0.27%</td></tr>
<tr><td>Australia </td><td> 0.26%</td></tr>
<tr><td>Hong Kong </td><td> 0.21%</td></tr>
<tr><td>Singapore </td><td> 0.16%</td></tr>
<tr><td>Malaysia </td><td> 0.15%</td></tr>
<tr><td>Denmark </td><td> 0.12%</td></tr>
<tr><td>Thailand </td><td> 0.12%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Abaca Fibre Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Yokohama Trading  </td><td> Japan</td></tr>
<tr><td>RCM Corporation </td><td> USA</td></tr>
<tr><td>Hasegawa Corporation </td><td> Japan</td></tr>
<tr><td>L&J Trading Ltd. </td><td> UK</td></tr>
<tr><td>T&G Global Limited </td><td> New Zealand</td></tr>
<tr><td>MNL Fibers Corporation </td><td> Philippines</td></tr>
<tr><td>Abacalite </td><td> UK</td></tr>
<tr><td>Oriental Pacific Futures </td><td> Malaysia</td></tr>
<tr><td>Hi Tri Development</td><td> Philippines</td></tr>
<tr><td>J.S. Fiber Co. Ltd. </td><td> South Korea</td></tr>
<tr><td>Maruyasu Corporation </td><td> Japan</td></tr>
<tr><td>ES FiberVisions </td><td> Denmark</td></tr>
<tr><td>Alcantara & Sons, Inc. </td><td> Philippines</td></tr>
<tr><td>PT Kurnia Ciptamoda Gemilang </td><td> Indonesia</td></tr>
<tr><td>Abaca Handicrafts Inc. </td><td> Philippines</td></tr>
<tr><td>PT. EMMO Abadi Prima </td><td> Indonesia</td></tr>
<tr><td>Fibrezone </td><td> UK</td></tr>
<tr><td>Lenzing AG </td><td> Austria</td></tr>
<tr><td>The Natural Fibre Company </td><td> UK</td></tr>
<tr><td>Kiwa N.V. </td><td> Netherlands</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12 ">
<div class="w3-center  w3-white w3-panel"><h3>Abaca Fibre Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for sustainable and eco-friendly Abaca fiber products: Consumers are becoming more conscious of the environmental impact of their purchases, leading to a rise in sustainable and eco-friendly Abaca fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased use of Abaca fiber in fashion and home decor: Abaca fiber, also known as Manila hemp, is becoming increasingly popular in fashion and home decor products, leading to a rise in import and export of these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New product innovations: Companies are investing in new product innovations to differentiate themselves from competitors and appeal to consumers, including Abaca fiber-based textiles, paper products, and packaging materials.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Abaca fiber sources: Importers and exporters are diversifying their sources of Abaca fiber to reduce their reliance on a single supplier or region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Online marketplaces and e-commerce platforms: The rise of online marketplaces and e-commerce platforms has made it easier for importers and exporters to connect with buyers and expand their reach.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on fair trade and ethical sourcing: Companies are investing in fair trade and ethical sourcing practices to ensure the social and economic well-being of Abaca fiber farmers and communities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulatory changes and trade policies: Changes in trade policies and regulations can have a significant impact on the import-export Abaca fiber business, leading to shifts in supply and demand for certain types of Abaca fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new Abaca fiber processing technologies: New Abaca fiber processing technologies are emerging, leading to the development of new Abaca fiber products and production methods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on product traceability: Consumers are increasingly interested in knowing the origin and journey of their products, leading to an increased focus on product traceability in the Abaca fiber import-export business.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Abaca fiber is known for its health benefits, including its high fiber content and potential to aid digestion, leading to increased demand for Abaca fiber products.</div>
</div>

</div>


</body>
</html>

