<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>


</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("Agave_fiber-min.jpg"),:size => "100x100" %>
         
           <h4>Agave</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $80 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 7.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 7,937 pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The Agave fiber market faces several risks, including climate change, land degradation, and competition from alternative fibers. Agave fiber production is heavily dependent on weather conditions, and climate change can impact Agave yields. Land degradation caused by overgrazing and deforestation can also affect Agave production. Additionally, competition from alternative natural fibers such as cotton, jute, and sisal can impact the demand for Agave fiber.

Despite these risks, the potential for Agave fiber exports offers strategic value for producers. Agave fiber is a natural and sustainable fiber that is highly valued in industries such as textile, paper, and handicrafts. The potential for export opportunities can help producers diversify their customer base and increase their revenue streams..</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Agave Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 27%</td></tr>
<tr><td>Germany </td><td> 14%</td></tr>
<tr><td>France </td><td> 10%</td></tr>
<tr><td>United Kingdom </td><td> 6%</td></tr>
<tr><td>Spain </td><td> 5%</td></tr>
<tr><td>Japan </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>Italy </td><td> 4%</td></tr>
<tr><td>Netherlands </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Agave Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> 41%</td></tr>
<tr><td>Guatemala </td><td> 11%</td></tr>
<tr><td>Dominican Republic </td><td> 7%</td></tr>
<tr><td>Nicaragua </td><td> 6%</td></tr>
<tr><td>El Salvador </td><td> 5%</td></tr>
<tr><td>Costa Rica </td><td> 4%</td></tr>
<tr><td>Ecuador </td><td> 4%</td></tr>
<tr><td>Peru </td><td> 4%</td></tr>
<tr><td>Colombia </td><td> 4%</td></tr>
<tr><td>Honduras </td><td> 3%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Panama </td><td> 2%</td></tr>
<tr><td>Brazil </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>



<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Agave growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 18.2%</td></tr>
<tr><td>Brazil </td><td> 14.6%</td></tr>
<tr><td>European Union </td><td> 11.4%</td></tr>
<tr><td>China </td><td> 10.5%</td></tr>
<tr><td>India </td><td> 6.4%</td></tr>
<tr><td>Argentina </td><td> 4.6%</td></tr>
<tr><td>Australia </td><td> 4.5%</td></tr>
<tr><td>Mexico </td><td> 2.8%</td></tr>
<tr><td>Canada </td><td> 2.5%</td></tr>
<tr><td>Russia </td><td> 2.3%</td></tr>
<tr><td>Pakistan </td><td> 2.3%</td></tr>
<tr><td>Turkey </td><td> 2.1%</td></tr>
<tr><td>Uruguay </td><td> 2%</td></tr>
<tr><td>Indonesia </td><td> 1.9%</td></tr>
<tr><td>Iran </td><td> 1.8%</td></tr>
<tr><td>South Korea </td><td> 1.7%</td></tr>
<tr><td>Kazakhstan </td><td> 1.7%</td></tr>
<tr><td>Sudan </td><td> 1.6%</td></tr>
<tr><td>Japan </td><td> 1.6%</td></tr>
<tr><td>Colombia </td><td> 1.4%</td></tr>
</table>
</div>




<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Agave Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Sisalmar </td><td>Brazil</td></tr>
<tr><td>Sisal Fibra Brazil </td><td>Brazil</td></tr>
<tr><td>Katani Ltd. </td><td>Tanzania</td></tr>
<tr><td>Amboni Plantations Ltd. </td><td>Tanzania</td></tr>
<tr><td>Sisal Group Ltd. </td><td>Tanzania</td></tr>
<tr><td>REA Vipingo Plantations Ltd. </td><td>Kenya</td></tr>
<tr><td>Sisal Holdings Ltd. </td><td>Kenya</td></tr>
<tr><td>Madagascar Sisal Company </td><td>Madagascar</td></tr>
</table>
</div>


<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Agave Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cordage Institute </td><td>United States</td></tr>
<tr><td>Xinglun Rope Cable Co., Ltd. </td><td>China</td></tr>
<tr><td>Chongqing Jianghai Machinery & Electronics Import & Export</td><td>China</td></tr>
<tr><td>Eurocord BV </td><td>Netherlands</td></tr>
<tr><td>Penta Tekstil San. ve Tic. Ltd. Sti. </td><td>Turkey</td></tr>
<tr><td>Ropes Direct </td><td>United Kingdom</td></tr>
<tr><td>Hanford & Green Ltd. </td><td>United Kingdom</td></tr>
<tr><td>Corderie Italiane </td><td>Italy</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12 ">
<div class="w3-center  w3-white w3-panel"><h3>Agave Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for sustainable and eco-friendly Agave fiber products: Consumers are becoming more conscious of the environmental impact of their purchases, leading to a rise in sustainable and eco-friendly Agave fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased use of Agave fiber in the textile industry: Agave fiber, also known as sisal, is becoming increasingly popular in the textile industry, leading to a rise in import and export of these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New product innovations: Companies are investing in new product innovations to differentiate themselves from competitors and appeal to consumers, including Agave fiber-based products such as carpets, rugs, and packaging materials.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Agave fiber sources: Importers and exporters are diversifying their sources of Agave fiber to reduce their reliance on a single supplier or region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Online marketplaces and e-commerce platforms: The rise of online marketplaces and e-commerce platforms has made it easier for importers and exporters to connect with buyers and expand their reach.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on fair trade and ethical sourcing: Companies are investing in fair trade and ethical sourcing practices to ensure the social and economic well-being of Agave fiber farmers and communities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulatory changes and trade policies: Changes in trade policies and regulations can have a significant impact on the import-export Agave fiber business, leading to shifts in supply and demand for certain types of Agave fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new Agave fiber processing technologies: New Agave fiber processing technologies are emerging, leading to the development of new Agave fiber products and production methods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on product traceability: Consumers are increasingly interested in knowing the origin and journey of their products, leading to an increased focus on product traceability in the Agave fiber import-export business.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Agave fiber is known for its health benefits, including its potential to aid digestion and boost the immune system, leading to increased demand for Agave fiber products.</div>
</div>

</div>

</body>
</html>

