<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("sisal_fiber-min.jpg"),:size => "100x100" %>
         
           <h4>Sisal</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $691.2 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.8%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 661 million pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The Sisal fiber market faces several risks, including climate change, pests and diseases, and competition from synthetic fibers. Sisal fiber production is heavily dependent on weather conditions, and climate change can impact Sisal yields. Additionally, pests and diseases such as Sisal weevil and Fusarium wilt can cause significant losses for Sisal fiber producers. Furthermore, competition from synthetic fibers can impact the demand for natural fibers such as Sisal.

Despite these risks, the potential for Sisal fiber exports offers strategic value for producers. Sisal fiber is a natural and sustainable fiber that is highly valued in industries such as agriculture, construction, and textiles.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Sisal Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 23.9%</td></tr>
<tr><td>China </td><td> 19.7%</td></tr>
<tr><td>Germany </td><td> 7.1%</td></tr>
<tr><td>France </td><td> 5.8%</td></tr>
<tr><td>Italy </td><td> 4.4%</td></tr>
<tr><td>Belgium </td><td> 4.2%</td></tr>
<tr><td>Spain </td><td> 4.0%</td></tr>
<tr><td>Netherlands </td><td> 3.3%</td></tr>
<tr><td>United Kingdom </td><td> 2.7%</td></tr>
<tr><td>Mexico </td><td> 2.6%</td></tr>
<tr><td>Canada </td><td> 2.5%</td></tr>
<tr><td>Portugal </td><td> 2.3%</td></tr>
<tr><td>Turkey </td><td> 2.2%</td></tr>
<tr><td>Greece </td><td> 1.5%</td></tr>
<tr><td>Japan </td><td> 1.4%</td></tr>
<tr><td>Poland </td><td> 1.4%</td></tr>
<tr><td>South Korea </td><td> 1.2%</td></tr>
<tr><td>Russia </td><td> 0.8%</td></tr>
<tr><td>Denmark </td><td> 0.7%</td></tr>
<tr><td>Austria </td><td> 0.6%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Sisal Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Tanzania </td><td> 31.9%</td></tr>
<tr><td>Brazil </td><td> 23.3%</td></tr>
<tr><td>Kenya </td><td> 13.2%</td></tr>
<tr><td>Madagascar </td><td> 9.2%</td></tr>
<tr><td>Mexico </td><td> 5.5%</td></tr>
<tr><td>China </td><td> 4.0%</td></tr>
<tr><td>Guatemala </td><td> 2.8%</td></tr>
<tr><td>Colombia </td><td> 1.9%</td></tr>
<tr><td>Rwanda </td><td> 1.8%</td></tr>
<tr><td>Burundi </td><td> 1.2%</td></tr>
<tr><td>Cuba </td><td> 0.9%</td></tr>
<tr><td>Peru </td><td> 0.9%</td></tr>
<tr><td>Nicaragua </td><td> 0.6%</td></tr>
<tr><td>Uganda </td><td> 0.6%</td></tr>
<tr><td>Ecuador </td><td> 0.5%</td></tr>
<tr><td>Thailand </td><td> 0.5%</td></tr>
<tr><td>Somalia </td><td> 0.5%</td></tr>
<tr><td>Venezuela </td><td> 0.4%</td></tr>
<tr><td>Malawi </td><td> 0.4%</td></tr>
<tr><td>Haiti </td><td> 0.4%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>



<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Sisal growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Tanzania </td><td> 36.0%</td></tr>
<tr><td>Brazil </td><td> 31.4%</td></tr>
<tr><td>Kenya </td><td> 17.8%</td></tr>
<tr><td>Madagascar </td><td> 7.0%</td></tr>
<tr><td>China </td><td> 2.2%</td></tr>
<tr><td>Mexico </td><td> 1.3%</td></tr>
<tr><td>Rwanda </td><td> 0.8%</td></tr>
<tr><td>Uganda </td><td> 0.5%</td></tr>
<tr><td>Colombia </td><td> 0.4%</td></tr>
<tr><td>Burundi </td><td> 0.3%</td></tr>
<tr><td>Cuba </td><td> 0.2%</td></tr>
<tr><td>Peru </td><td> 0.2%</td></tr>
<tr><td>Thailand </td><td> 0.2%</td></tr>
<tr><td>Venezuela </td><td> 0.1%</td></tr>
<tr><td>Ecuador </td><td> 0.1%</td></tr>
<tr><td>Somalia </td><td> 0.1%</td></tr>
<tr><td>Malawi </td><td> 0.1%</td></tr>
<tr><td>Haiti </td><td> 0.1%</td></tr>
<tr><td>Dominican Republic </td><td> 0.1%</td></tr>
<tr><td>Philippines </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-col m8 ">
<div class="w3-center  w3-white w3-panel"><h3>Sisal Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for sustainable and eco-friendly Sisal fiber products: Consumers are becoming more conscious of the environmental impact of their purchases, leading to a rise in sustainable and eco-friendly Sisal fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased use of Sisal fiber in the construction industry: Sisal fiber is becoming increasingly popular in the construction industry, leading to a rise in import and export of these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New product innovations: Companies are investing in new product innovations to differentiate themselves from competitors and appeal to consumers, including Sisal fiber-based products such as rugs, carpets, and rope.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Sisal fiber sources: Importers and exporters are diversifying their sources of Sisal fiber to reduce their reliance on a single supplier or region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Online marketplaces and e-commerce platforms: The rise of online marketplaces and e-commerce platforms has made it easier for importers and exporters to connect with buyers and expand their reach.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on fair trade and ethical sourcing: Companies are investing in fair trade and ethical sourcing practices to ensure the social and economic well-being of Sisal fiber farmers and communities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulatory changes and trade policies: Changes in trade policies and regulations can have a significant impact on the import-export Sisal fiber business, leading to shifts in supply and demand for certain types of Sisal fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new Sisal fiber processing technologies: New Sisal fiber processing technologies are emerging, leading to the development of new Sisal fiber products and production methods.</div>
</div>
<div class="w3-container w3-col m12 ">
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on product traceability: Consumers are increasingly interested in knowing the origin and journey of their products, leading to an increased focus on product traceability in the Sisal fiber import-export business.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Sisal fiber is known for its health benefits, including its potential to aid digestion and promote overall gut health, leading to increased demand for Sisal fiber products in the health and wellness industry.</div>
</div>

</div>

</body>
</html>

