<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>

<body id="myPage">
<div class = "w3-container">
<div class="w3-col m12">
<div class="w3-panel w3-card w3-white w3-padding-16">
<div class="w3-responsive">
<div class="w3-container">
</br>
</br>
<h3 class="w3-center w3-text-teal"><b>Contact Us</b></h3>
</br>
<p class=""><b>Thank you for your interest in Eximsquare. We welcome your inquiries and feedback. Please use the contact us or message us information below to get in touch with us.</b></p>
</br>

<p><b>Headquarters</b></p>

<p>Address:  2ND MAIN, 2ND CROSS, KRUSHI NAGAR SHIMOGA - 577201</p>
<p>Karnataka - India</p>
<p>Phone: +91 9740005323</p>
<p>Email: eximsquare.help@gmail.com</p>
</br>
<p><b>General Inquiries</b></p>
<p>For general inquiries or any other information, please contact us or send message us through the following:</p>
<p>Email: eximsquare.help@gmail.com</p>
<p>Phone: +91 9740005323</p>


</br>

<p><b>Sales Inquiries</b></p>
<p>For sales inquiries or to request a quote, please contact our sales team.</p>
<p>Email: eximsquare.help@gmail.com</p>
<p>Phone: +91 9740005323</p>
</br>
<p><b>Customer Support</b></p>
<p>If you require assistance with an order, shipment, or have any product-related questions, our customer support team is here to help.</p>
<p>Email: eximsquare.help@gmail.com</p>
<p>Phone: +91 9740005323</p>
</br>
<p><b>Business Development</b></p>
<p>For partnership opportunities, collaborations, or any other business-related inquiries, please reach out to our business development team.</p>
<p>Email: eximsquare.help@gmail.com</p>
<p>Phone: +91 9740005323</p>
</br>
<p"><b>We strive to respond to all inquiries promptly and provide the best possible assistance. Your satisfaction is important to us, and we look forward to hearing from you.</b></p>
</div>
</div>
</div>
</div>
</div>

</body>
</html>
