<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
</style>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>

<body id="myPage">
<div class = "w3-container">
<div class="w3-col m12">
<div class="w3-panel w3-card w3-white w3-padding-16">

</br>
<h3 class = "w3-center w3-text-teal"><b>Terms and Conditions</b></h3>
</br>


<p>Welcome to Eximsquare! These terms and conditions ("Terms") govern your use of the Eximsquare website (the "Website") and any services provided by Eximsquare ("we" or "us") through the Website. By accessing or using the Website, you agree to comply with and be bound by these Terms. If you do not agree with these Terms, please refrain from using the Website.</p>

<p><b>User Conduct</b></p>
<ul>
<li>You are solely responsible for your use of the Website and any content you post, upload, or transmit through the Website.</li>
<li>You agree not to use the Website for any unlawful, fraudulent, or unauthorized purposes.</li>
<li>You agree not to engage in any conduct that may disrupt or interfere with the operation or security of the Website or any related services.</li>
<li>You agree not to upload or transmit any content that is unlawful, harmful, defamatory, obscene, or otherwise objectionable.</li>
</ul>

<p><b>Intellectual Property</b></p>
<ul>
<li>The content on the Website, including but not limited to text, graphics, logos, images, and software, is the property of Eximsquare or its licensors and is protected by intellectual property laws.</li>
<li>You may not reproduce, modify, distribute, or otherwise use any of the content on the Website without obtaining prior written permission from Eximsquare.</li>
</ul>

<p><b>User Accounts</b></p>
<ul>
<li>In order to access certain features or services on the Website, you may be required to create an account.</li>
<li>You agree to provide accurate and complete information when creating your account.</li>
<li>You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</li>
<li>You agree to notify us immediately of any unauthorized access or use of your account.</li>
</ul>

<p><b>Third-Party Content and Links</b></p>
<ul>
<li>The Website may contain links to third-party websites or resources. We do not endorse, control, or assume any responsibility for the content, products, or services provided by these third-party websites.</li>
<li>Any interactions or transactions you have with third parties are solely between you and the third party. We are not responsible for any loss or damage incurred as a result of such interactions or transactions.</li>
</ul>
</br>

<p><b>Disclaimer of Warranties</b></p>
<ul>
<li>The Website and all content, products, and services provided on or through the Website are provided on an "as is" and "as available" basis, without any warranties of any kind, either express or implied.</li>
<li>We do not warrant that the Website will be error-free, uninterrupted, or free from viruses or other harmful components.</li>
<li>We do not guarantee the accuracy, completeness, or reliability of any content, information, or data provided on the Website.</li>
</ul>
</br>

<p><b>Limitation of Liability</b></p>
<ul>
<li>To the fullest extent permitted by applicable law, Eximsquare and its affiliates, officers, directors, employees, and agents shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of the Website or any content, products, or services provided on or through the Website.</li>
<li>This limitation of liability applies regardless of the legal theory under which such damages are sought, whether in contract, tort, negligence, strict liability, or otherwise.</li>
</ul></br>

<p><b>Modifications and Termination</b></p>
<ul>
<li>We reserve the right to modify, suspend, or terminate the Website or any services provided on or through the Website at any time without prior notice.</li>
<li>We may also modify these Terms at any time by posting the updated Terms on the Website. Your continued use of the Website after the posting of any modifications constitutes your acceptance of the modified Terms.</li>
</ul>

<p><b>Governing Law and Jurisdiction</b></p>
<ul>
<li>
These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction]. Any disputes arising under or in connection with these Terms shall be subject to the exclusive jurisdiction of the courts of [Jurisdiction].
</li></ul>

<p><b>If you have any questions or concerns about these Terms, please contact us at contact us.</b></p>
<p>Effective Date: <%= Time.now.strftime("%m/%d/%Y") %></p></br>
<h5 class=" w3-center"><%=link_to"Contact Us",new_home_path,class: "w3-btn w3-teal w3-button w3-border w3-hover-blue-grey"%></h5>


</div>
</div>
</div>

</body>
</html>



